:root {
    --clr-primary: #1e5d69;
    --clr-primary-dark: #1b373c;
    --clr-social: #0093af;
    --clr-font: #666;
}

/****** TYPOGRAPHY ******/

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f6f6f6;
}
a:link, a:visited {
    color: #fff;
}
h1 {
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2em;
    color: var(--clr-primary);
}
h2 {
    font-size: 1.875em;
}
h3 {
    font-weight: 600;
    padding: 0 1em;
    color: var(--clr-primary);
}
p {
    font-size: 13px;
    color: var(--clr-font);
}
li{
    font-size: 14px;
}
nav a {
    font-weight: 600;
    display: inline-block;
    transition: all ease-in-out .2s;
}
nav a:hover {
    color: #ddd;
}
#search {
    border: none;
    font-weight: 600;
    text-align: right;
    vertical-align: top;
}
.button {
    font-size: 14px;
}
.footer-nav li {
    font-weight: 600;
}
.copyright p {
    font-size: 12px;
}

/****** LAYOUT RULES ******/

.container{
    display: flex;
    padding: 0 30px;
}

/* HEADER */

header {
    position: sticky;
    top: 0;
    margin-bottom: 57px;
    background-color: var(--clr-primary);
    color: #fff;
    z-index: 99;
}
header .container {
    align-items: center;
    justify-content: space-between;
    padding-top: .8em;
    padding-bottom: .8em;
}
.logo {
    display: flex;
    align-items: center;
}
.logo svg {
    fill: #fff;
    margin-right: 1em;
}
.logo h4 {
    letter-spacing: .7px;
}
nav {
    z-index: 100;
    transition: opacity ease-in-out .3s;
}
nav li {
    display: inline-block;
    padding: 0 1em;;
}
.hamburger-menu-icon {
    display: none;
}
.close-nav {
    position: absolute;
    top: .3em;
    right: .5em;
    display: none;
    z-index: 999;
}
.close-nav svg {
    width: 45px;
    height: 45px;
}
.search {
    width: 15%;
    display: flex;
    justify-content: flex-end;
}
#search {
    width: 3.5em;
    margin-left: 3px;
    background-color: var(--clr-primary);
    color: #fff;
    transition: all ease-in-out .2s;
}
#search:focus {
    text-align: left;
    width: 10em;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 3px;

}
.search svg {
    margin-right: -.1em;
    margin-top: 5px;
    fill: #fff;
}

/****** HERO ******/

.hero {
    margin-top: 70px;
}
.hero-text {
    margin-right: 2em;
}
.hero-image {
    min-width: 50%;
}
.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/****** WHY ADVENTURE SECTION ******/

.adventure-section {
    text-align: center;
    padding: 8em 0 9em;
    margin-top: 8em;
    margin-bottom: 2.35em;
    background: linear-gradient(rgba(0, 147, 175, 0.9), rgba(0, 147, 175, 0.5)), url("images/img-bg-adventure.jpg");
    background-attachment: fixed;
    background-size: cover;
    clip-path: polygon(0% 15%, 100% 0%, 100% 84%, 0% 100%);
}

.adventure-section h2 {
    margin-bottom: 2.65em;
    color: #fff;
}
.cards {
    justify-content: space-between;
}
.card {
    width: 20%;
    padding: 2em 1.75em 1em;
    background-color: #fff;
}
.card p {
    line-height: 1.6;
}
.card svg {
    fill: var(--clr-primary);
}

/****** POPULAR TOURS SECTION ******/

.popular-tours {
    text-align: center;
}
.popular-tours .container {
    justify-content: space-around;
}
.popular-tours h2 {
    margin-bottom: 2.6em;
    margin-top: 0;
    color: var(--clr-primary);
}
.tour-card {
    width: 25%;
    padding-bottom: 2em;
    background-color: #fff;
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.35);
}
.tour-card h3 {
    margin-top: .8em;
}
.tour-card:not(.tour-card:nth-of-type(2)) li{
    width: 70%;
    margin: 0 auto;
    padding: 1em 0;
    font-weight: 400;
    color: #1e5d69;
    border-bottom: 1px solid #e1e1e1;
}
.tour-card:nth-of-type(2) {
    color: #fff;
    background: var(--clr-primary);
}
.tour-card:nth-of-type(2) li {
    width: 70%;
    margin: 0 auto;
    padding: 1em 0;
    font-weight: 300;
    border-bottom: 1px solid #e1e1e1;
}
.tour-card .tour-card-text li:nth-last-of-type(1) {
    border-bottom: none;
}
.tour-card:nth-of-type(2) h3 {
    color: #fff;
}
.tour-card img {
    clip-path: polygon(0% 0%, 100% 0%, 100% 89.98%, 0% 100%);
}
.button {
    display: inline-block;
    position: relative;
    padding: 1.5em 2.7em;
    margin: 4.75em 0; 
    border-radius: 30px;
    color: #fff;
    background: linear-gradient(90deg, var(--clr-primary), var(--clr-social));
    z-index: 1;
}
.button::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 30px;
    background: linear-gradient(90deg, var(--clr-social), var(--clr-primary));
    z-index: -1;
    transition: opacity 0.2s linear;
    opacity: 0;
  }
.button:hover:before {
    opacity: 1;
}
/******* FOOTER ******/

footer {
    text-align: center;
    padding-top: 4.5em;
    background-color: var(--clr-primary);
}
footer ul {
    margin-bottom: 4.5em;
}
footer li {
    display: inline-block;
    margin: 0 1.5em;
}
footer svg {
    fill: #fff;
}
.social a {
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: .5em;
    border-radius: 50%;
    background-color: var(--clr-social);
}
.copyright {
    justify-content: space-between; 
    align-items: center;
    background-color: var(--clr-primary-dark);
    color: #fff;
}
.copyright p {
    color: #fff;
}

/****** MEDIA QUERIES ******/
@media all and (max-width: 980px) {

    .logo h4 {
        max-width: 7em;
        margin-left: -1em;
        text-align: center;
    }
    .card {
        width: 23%;
    }
    .tour-card {
        width: 30%;
    }
}

@media all and (max-width: 780px) {
    header .container {
        flex-wrap: wrap;
    }
    nav {
        order: 1;
        min-width: 100%;
        text-align: center;
    }
    .adventure-section {
        clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
    }
    .cards.container, .popular-tours .container {
        flex-wrap: wrap;
    }
    .card {
        width: 48%;
        margin-bottom: 2em;
    }
}

@media all and (max-width: 600px) {
    .container {
        padding: 0 1em;
    }
    .search {
        width: 20%;
    }
    h1 {
        padding: 0 1em;
        margin-bottom: 1em;
    }
    .hero .container {
        flex-direction: column;
    }
    .hero-text {
        margin-right: 0;
    }
    .hero-text h3 {
        text-align: center;
    }
    .hero-text p {
        text-align: justify;
        margin-bottom: 2em;
    }
    .adventure-section {
        margin-top: 5em;
        clip-path: polygon(0% 5%, 100% 0%, 100% 95%, 0% 100%);
    }
    .card, .tour-card {
        width: 100%;
    }
    .tour-card {
        margin-bottom: 2em;
    }
}

@media all and (max-width: 480px) {
    .search {
        display: none;
    }
    header .container {
        padding: 0 1em;
    }
    nav {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        background: var(--clr-primary-dark);
        opacity: 0;
    }
    nav li {
        display: block;
        border-bottom: 1px solid;
    }
    nav li:last-child {
        border-bottom: none;
    }
    nav li a {
        width: 60%;
        padding: 1em;
        font-size: 1.25em;  
        font-weight: 300;
    }
    footer {
        padding-top: 3em;
    }
    footer ul {
        margin-bottom: 3em;
    }
    .footer-nav {
        display: none;
    }
    .hamburger-menu-icon {
        display: block;
    }
    .hamburger-menu-icon svg {
        width: 32px;
        height: 32px;
    }
    .close-nav {
        display: block;
        z-index: 9999;
    }

}