/*  GENERAL RULES   */

h1, h2, h3, h4, p, ul, li, a {padding: 0; margin: 0;}
html, body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #636363;
    font-size: 16px;
}
body {
    line-height: 1.65;
    background-image: url("images/overlay.png"), 
    linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
}
h1 {
    font-size: 3.25em;
    line-height: 1.2;
    letter-spacing: -1px;
    font-weight: 300;
    margin-bottom: .625rem;
    color: #fff;
}
h2 {
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: -0.6px;
    margin-bottom: 2rem;
}
h3 {
    font-size: 1.25em;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: -0.5px;
    margin-bottom: 1rem;
}
a {
    color: rgba(255, 255, 255, 0.65);
    border-bottom: dotted 1px;
    transition: all .2s ease-in-out;
}
a:hover {
    color: #fff;
}
p {
    margin-bottom: 2rem;
}
hr {
    display: block;
    height: 1px;
    margin: 0;
    border: none;
    background-color: #ddd;
}
section {
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1.5rem 1rem;
}

/* BUTTONS */

.button {
    display: inline-block;
    width: 100%;
    line-height: 2.75em;
    margin-bottom: 2rem;
    color: #676d79;
    box-shadow: inset 0 0 0 1px #ddd;
    border-radius: 8px;
    border-bottom: none;
}
.button:hover {
    color: #676d79;
    background-color: rgba(222, 222, 222, 0.25);
}
.button-blue {
    margin-bottom: 1rem;
    background-color: #8cc9f0;
    box-shadow: none;
    color: #fff;
}
.button-blue:hover {
    background-color: #9acff2;
    color: #fff;
}
.button-white, .button-white:hover {
    color: #fff;
    text-align: center;
}


/******** HEADER ********/


header {
    width: 80%;
    max-width: 328px;
    margin: 0 auto;
    padding-top: 4em;
    padding-bottom: 1em;
    text-align: center;
}
header p {
    color: rgba(255, 255, 255, 0.65);
}
.logo {
    width: 85px;
    margin: 0 auto;
}

/* MAIN */

main {
    width: 90%;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #fff;
}

/****** NAV *******/

nav {
    display: none;
    position: sticky;
    top: 0;
    padding: .75em 1em;
    margin-bottom: 1em;
    background-color: #f7f7f7;
}
nav ul {
    margin: auto;
    text-align: center;
}
nav li {
    display: inline-block;
}
nav a {
    padding: .5em 1.25em;
    line-height: 2em;
    color: #636363;
    border-bottom: none;
    border-radius: 8px;
}
nav a:hover {
    background-color: rgba(222, 222, 222, 0.25);
    color: #636363;
}

/******* FIRST SECTION *******/

.main-img {
    margin-bottom: 2rem;
    border-radius: 50%;
}
.main-img img {
    width: 192px;
    padding: .35em;
    border: 1px solid #ddd;
    border-radius: 50%;
}

main h2::after {
    content: "";
    display: block;
    height: 2px;
    width: 3.25em;
    margin: auto;
    margin-top: 1rem;
    background-color: #ddd;
    background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
}

/****** SECOND SECTION *******/

.second-section .container{
    padding-top: 0;
}
.second-section h2 {
    padding-top: 2em;
    margin-bottom: 1em;
}
.second-section .button {
    width: 90%;
}
.circle {
    font-size: 3.5rem;
    width: 2.25em;
    height: 2.25em;
    padding: .35rem; 
    margin: 0 auto 1.5rem;
    border: 1px solid #ddd;
    border-radius: 100%;
}
.second-section .fas {
    width: 100%;
    height: 100%;
    line-height: 2em;
    border: 1px solid #ddd;
    border-radius: 100%;
}
.fa-code {color: #efa8b0;} .fa-copy {color: #a89cc8 ;} .circle .fa-gem {color: #8cc9f0;}

/****** THIRD SECTION *******/

.third-section p:nth-of-type(2) {
    text-align: justify;
}
.stats {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2em 0;
    color: #fff;
}
.stats div {
    padding: 1.5em 0;
}
.stats i {
    font-size: 3.7rem;
    line-height: 1.3;
}

.stats li:nth-of-type(2) {
    font-size: 2.5em;
    line-height: 1.1;
}
.stat-1 {background-color: rgb(239, 168, 176); border-radius: 8px 8px 0 0;}
.stat-2 {background-color: rgb(199, 156, 200);}
.stat-3 {background-color: rgb(168, 156, 200);}
.stat-4 {background-color: rgb(155, 178, 225);}
.stat-5 {background-color: rgb(140, 201, 240); border-radius: 0 0 8px 8px;}

/******* GET STARTED SECTION ********/

.buttons {
    display: flex;
    flex-direction: column;
}

/******* FOOTER ********/

footer {
    color: #fff;
    padding: 0 1em;
    width: 90%;
    margin: auto;
}
.contact {
    align-self: flex-start;
    width: 100%;
}

.contact dt {
    display: block;
    width: 15%;
    margin: 0;
    float: left;
    clear: left;
    font-weight: 400;
}
.contact dd {
    display: block;
    width: calc(85% - 40px);
    float: left;
    margin-bottom: 1em;
    color: rgba(255, 255, 255, 0.65);
}
.social li {
    display: inline-block;
    margin: 0 .5em;
}
.social a {
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    font-size: 1.25em;
    border: 1px solid rgba(255, 255, 255, 0.35);
    border-radius: 50%;
    color: #fff;
}
.social a:hover {
    background-color: rgba(255, 255, 255, 0.075);
}
.copyright {
    font-size: .8em;
    text-align: center;
}

/******** MEDIA QUERIES ********/

@media all and (max-width: 360px) {
    html, body {
        font-size: 14px;
    }
}

@media all and (min-width: 465px) {
    main {
        width: 87%;
    }
    .button {
        max-width: 8rem
    }
    .buttons {
        flex-direction: row;
        justify-content: center;
    }
    .button-blue {
        margin-bottom: 2rem;
        margin-right: 1em;
    }
}

@media all and (min-width: 720px) {
    .container {
        padding: 3rem;
    }
    nav {
        display: block;
    }
    main h2 {
        font-size: 200%;
    }
    .button {
        max-width: 10rem
    }
    .main-img img {
        min-width: 256px;
    }
    .second-section .container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card {
        flex: 50%;
        margin: auto;
        margin-bottom: 2em;
        max-width: 50%;
    }
    .stats {
        flex-direction: row;
    }
    .stats div {
        flex: 1;
    }
    .stats i {
        font-size: 2.5rem;
    }
    
    .stats li:nth-of-type(2) {
        font-size: 1.5em;
    }
    .stat-1 {background-color: rgb(239, 168, 176); border-radius: 8px 0 0 8px;}
    .stat-5 {background-color: rgb(140, 201, 240); border-radius: 0 8px 8px 0;}
    .circle {
        width: 3.75em;
        height: 3.75em;
        padding: .65rem;
    }
    .circle .fas {
        line-height: 2.75em;
        font-size: 1.25em;
    }
    .third-section p:first-of-type, .get-started p {
        font-size: 1.25em;
    }
}

@media all and (min-width: 960px) {
    
    .stats+p {
        columns: 2;
        column-gap: 2em;
    }
}
@media all and (min-width: 980px) {
    .first-section .container {
        flex-direction: row-reverse;
        text-align: left;
    }
    .first-section h2, .first-section p {
        text-align: left;
    }
    .first-section .button {
        text-align: center;
    }
    .main-txt {
        width: 66%;
    }
    .main-img {
        width: 33%;
        margin-left: 2em;
    }
    .card {
        flex: 33%;
        padding: 0 1em;
    }
    footer .container {
        flex-direction: row;
    }
    .about {
        margin-right: 2em;
    }
    .copyright .container {
        justify-content: center;
    }
}

@media all and (min-width: 1080px) {
    main, footer {
        max-width: 1020px;
    }
}
@media all and (min-width: 1260px) {
    html, body {
        font-size: 105%;
    }
    main, footer {
        max-width: 1200px;
    }
}